@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700;900&display=swap");

@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 300;
  src: local("Sofia Pro"),
    url("../public/fonts/Sofia\ Pro\ Light\ Az.woff") format("woff");
}
@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Sofia Pro"),
    url("../public/fonts/Sofia\ Pro\ Regular\ Az.woff") format("woff");
}
@font-face {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Sofia Pro"),
    url("../public/fonts/Sofia\ Pro\ Medium\ Az.woff") format("woff");
}

html,
body {
  padding: 1rem 3.5rem;
  font-family: "Sofia Pro", Helvetica Neue, sans-serif;
  font-weight: 300;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}

.active {
  border-bottom: 3px solid #1a202c;
}

.btn {
  font-family: "Sofia Pro", Helvetica Neue, sans-serif;
  padding: 0.8rem 1.3rem;
  font-size: 1rem;
  outline: none;
  border: none;
  letter-spacing: 1px;
}

span {
  padding: 0.3rem 0.8rem;
  margin-right: 1rem;
  text-transform: capitalize;
}
.react {
  color: #6b46c1;
  border-bottom: 3px solid #6b46c1;
  background-color: #d6bcfa;
}
.node {
  color: #38a169;
  border-bottom: 3px solid #38a169;
  background-color: #c6f6d5;
}
.mongo {
  color: #319795;
  border-bottom: 3px solid #319795;
  background-color: #b2f5ea;
}
.express {
  color: #38a169;
  border-bottom: 3px solid #38a169;
  background-color: #c6f6d5;
}
.html5 {
  color: #38a169;
  border-bottom: 3px solid #38a169;
  background-color: #c6f6d5;
}
.javascript {
  color: #5f370e;
  border-bottom: 3px solid #5f370e;
  background-color: #faf089;
}
.scss {
  color: #b83280;
  border-bottom: 3px solid #b83280;
  background-color: #fbb6ce;
}
.active-footer {
  font-weight: 700;
  color: #6b46c1;
}
